@import '../../assets/styles/_colors.sass'

.about
    color: $textBright
    display: flex
    flex-direction: column
    padding: 2rem 0 0 0

    &__myself
        position: relative
        padding: 6rem 5% 4rem 5%

        &__information
            width: 50%
            max-width: 700px
            @media (max-width: 750px)
                width: 100%

        &__image
            position: absolute
            right: 10vw
            bottom: 0px
            height: 90%
            z-index: -1
            @media (max-width: 900px)
                right: 0
            @media (max-width: 750px)
                display: none

    &__why
        display: flex
        justify-content: space-between
        padding: 7rem 5% 5rem 5%
        background-color: $secondaryBackgroundColor
        color: $textDark

        @media (max-width: 800px)
            flex-direction: column

        & >div
            width: 50%
            @media (max-width: 800px)
                text-align: left
                width: 90%

        &__img
            max-width: 500px
            width: 100%
            @media (max-width: 800px)
                margin: 4rem 0 0 0

    &__techStack
        background-color: $btnYellow
        width: 100%
        padding: 0 5% 3rem 5%
        color: black
        display: flex
        flex-wrap: wrap
        gap: 10px