@import '../../assets/styles/_colors.sass'

.about
    color: $textBright
    display: flex
    flex-direction: column

    &__myself
        position: relative
        padding: 10vw

        &__information
            width: 50%
            max-width: 700px
            @media (max-width: 750px)
                width: 100%

        &__image
            position: absolute
            right: 10vw
            bottom: 0px
            height: 90%
            z-index: -1
            @media (max-width: 900px)
                right: 0
            @media (max-width: 750px)
                display: none

    &__why
        display: flex
        justify-content: space-around
        padding: 5rem 5% 3rem 5%
        background-color: $secondaryBackgroundColor
        color: $textDark
        font-size: 1.5rem

        @media (max-width: 800px)
            flex-direction: column

        & >div
            width: 50%
            @media (max-width: 800px)
                text-align: left
                width: 90%
                font-size: 1.3rem
        
        &__img
            max-width: 500px
            width: 100%
            @media (max-width: 800px)
                margin: 4rem 0 0 0

    &__techStack
        background-color: $secondaryBackgroundColor
        width: 100%
        text-align: center

.large
    font-weight: bold
    font-size: 2rem
    margin: 1rem 0

.medium
    font-weight: normal
    font-size: 1.5rem
    line-height: 1.5
    margin: 1rem 0

.contactBtn
    margin: 2rem 0 3rem 0