@import '../../assets/styles/_colors.sass'

.homeProjects__container
    background-color: $secondaryBackgroundColor
    padding: 3rem 5% 4rem 5%

    @media (max-width: 400px)
        & > h1
            text-align: center

.homeProjects
    margin: 0 auto
    display: flex
    flex-wrap: wrap
    align-items: stretch
    color: $textBright
    display: flex
    justify-content: space-between

.hp__infos
    padding: 3rem 0 0 2rem
    width: #{"min(90%, 700px)"}
    font-size: 1.5rem

    @media (max-width: 400px)
        & h1
            text-align: center
        & > p
            display: none

    &::before
        content: ""
        top: 0
        left: 0
        height: 100px
        width: 20px
        background-color: rgba(red, 0.2)
        

    &__header
        font-weight: bold
        font-size: 2rem
        margin: 0 0 0.5rem 0

    &__buttons
        margin: 1rem 0 0 0
        display: flex

        @media (max-width: 400px)
            display: block
            margin: 1rem 0
            text-align: center
            a
                margin: 0 0 0.5rem 0
                display: block