.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FBFCFC;
    height: 100%;
}

.home__name {
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Playfair Display', serif !important;
    padding-bottom: 3rem;
    margin: auto 0;
}