@import '../../assets/styles/_colors.sass'
    
.home__aboveFold
    min-height: #{"calc(100vh - 122px)"}
    margin: 0 0 2rem 0

.home__name
    font-size: #{"max(3rem, 10vw)"}
    font-weight: bold
    text-align: center
    font-family: 'Playfair Display', serif !important
    margin: 3rem 0 3rem 0
    color: $textBright
