@import '../../assets/styles/_colors.sass'

.home
    display: flex
    flex-direction: column

    &__aboveFold
        height: 100vh
        font-size: #{"min(8vw, 3rem)"}
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: center

        @media (min-width: 450px)
            margin: 0 0 0 10vw

        &__title
            z-index: 1
            line-height: 2
            color: $textBright
            margin: 10px 0
            cursor: default
            user-select: none

            @media (max-width: 450px)
                text-align: center
                margin: 0 auto

            & .one
                font-size: 0.5em
                font-weight: lighter
            & .two
                font-size: 0.8em

            & .three
                z-index: 1
                font-weight: bold

        &__social
            display: flex
            flex-direction: column
            position: absolute
            left: 0
            top: 50%
            transform: translateY(-50%)
            background-color: $headerBackground

            @media (max-width: 720px)
                position: static
                flex-direction: row
                background-color: transparent
                margin: 3rem 0 0 0
                padding: 0

            @media (max-width: 450px)
                margin: 3rem auto 0 auto

    &__callToAction
        background-color: $pageYellow
        text-align: center
        color: $textDark
        padding: 2rem 5% 1rem 5%