@import '../assets/styles/_colors.sass'

.navbar
    display: flex
    justify-content: space-between
    padding: 0.5rem 5%
    font-size: 1.3rem
    z-index: 10
    background-color: $headerBackground
    position: absolute
    width: 100%

    & button
        z-index: 100

    &__items
        &__large
            display: flex

            @media (max-width: 720px)
                display: none

            &__item
                display: flex
                padding: 0 1rem
                font-size: 1.3rem
                position: relative
                color: white
                font-weight: bold
                cursor: pointer
                text-decoration: none

                &::after
                    content: ""
                    position: absolute
                    width: 0
                    height: 2px
                    bottom: 0
                    right: 0
                    background-color: $pageYellow
                    transition: width 200ms ease

                &:hover::after
                    width: 100%
                    left: 0%

        &__small
            height: 100%
            width: 0
            position: fixed
            z-index: 1
            top: 0
            right: 0
            background-color: $headerBackground
            transition: 0.5s

            &__btn
                background-color: rgba(0,0,0,0)
                border: none
                outline: none
                color: white
                @media ( min-width: 720px )
                    display: none

            &.open
                width: 100%

            &__item
                margin: 20px 0
                text-align: center
                white-space: nowrap
                &:first-of-type
                    margin: 200px 0 20px 0

    & a
        color: white
        font-weight: bold
        text-decoration: none
        margin: auto 0

    &__logo
        position: relative
        z-index: 1000
