#navbar__abovefold {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    font-size: 2rem;
}

.navbar__abovefold__item {
    width: 20%;
}

@media (max-width:700px){
    #navbar__abovefold {
        flex-direction: column;
    }
    .navbar__abovefold__item {
        padding: 1rem 0;
        font-size: 2rem;
    }
}

a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    font-weight: bold;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}