.projectTech__header {
    margin: 1rem 0;
    font-weight: bold;
    font-size: 2rem;
    color: var(--textSecondary);
}

.projectTech__stack__item {
    display: inline-block;
    background-color: rgb(233, 201, 22);
    color: var(--textPrimary);
    margin: 0.25rem 0.5rem;
    padding: 0.25rem 0.5rem;
    font-weight: bold;
}