.projectTech__header {
    font-weight: bold;
    font-size: 2rem;
    color: #787878;

    margin: 1rem 0;
}

.projectTech__stack__item {
    display: inline-block;
    background-color: rgb(233, 201, 22);
    margin: 0 0.5rem;
    padding: 0.25rem 0.5rem;
    font-weight: bold;
}