$primaryBackgroundColor: #181c20
$secondaryBackgroundColor: #FBFCFC
$footerColor: #2f343a
$textDark: #222221
$textMedium: #808080
$textBright: #FBFCFC
$pageYellow: #FEC303
$btnYellow: #FEC303
$btnYellowHover: #f5bd04

$smallNavbarBackground: #2a2e33
$headerBackground: #0a0c0e